.body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}


.title {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    color:black
}

.aboutText{
    color:#505050;
    line-height: 1.5;
    text-align: center;
}

.OrgName{
    color:rgb(0, 0, 0)
}

.body section {
    padding-left: 3em;
    padding-right: 3em;
}

.logo {
    width: 20%;
    justify-content: center;
} 

.people_avatar
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}


/* Media Query  */
@media (min-width: 700px) { 
    .logo {
       width: 20%;
    }
    .body section {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media (min-width: 890px) {
    .logo {
        width: 20%;
    }
    .body section {
        padding-left: 7em;
        padding-right:7em;
    }
    .people_avatar
    .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

}