.container {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  
  .footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-left: 3rem;
  }
  
  .adio_header, 
  .adio_header:active,
  .adio_header:hover {
    font-size: 28px;
    text-decoration: none;
  }
  
  .copyright {
    padding:1em;
    font-size: 12px;
  }
  
  .footer ul li {
    border-color: white;
    padding:1em;
  }
  
  .footer ul li a {
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    text-decoration: underline;
  }