.banner_main  {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.home_p {
  font-size: 1.5vw;
  text-align: center;
}

.home_img {
    max-width: 100%;
    height: auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin: auto;
}

.home_sub_heading {
  color: red ;
  text-align: center;
}